{{ block title }}您將要從以下產品抽球決定報酬{{ endblock }}
{% block content %}

{% if client_product == 'X' %}
  <p>電腦替您選擇的產品是：<b>產品 X</b>。</p>
  <img src="{{ static productX_image }}" style="max-width:240px;">
  <p>產品 X 的組成與前一部分抽出的產品 X 相同。</p>
{% else %}
  <p>電腦替您選擇的產品是：<b>產品 Y</b>。</p>
  {% if client_product_quality == '高品質' %}
    <p>產品 Y 為 <b>高品質</b>，其品質由剛剛推薦人骰硬幣的結果決定。</p>
    <img src="{{ static productY_image }}" style="max-width:240px;">
  {% else %}
    <p>產品 Y 為 <b>低品質</b>，其品質由剛剛推薦人骰硬幣的結果決定。</p>
    <img src="{{ static productY_image }}" style="max-width:240px;">
  {% endif %}
{% endif %}
<br><br>
<!-- 中文的下一頁按鈕 -->
<button class="otree-btn-next btn btn-primary">下一頁</button>
{% endblock %}
