{% load static %}

{% block title %}
預測推薦人按照指派資訊推薦產品的機率
{% endblock %}

{% block content %}


<form id="form" method="post">


    <input type="hidden" name="belief_aq" id="belief_hidden">

    <!-- <p>假設有其他推薦人先得知從產品B中抽出的球之後，才得知了他們推薦哪一個產品可以獲得額外5法幣。</p> -->
    <p>提醒您，產品 B 可能是高品質或低品質，機率各半，如下圖所示。</p>
    <img src="{{ static image_path1 }}" width="400px" />
    <br><br>

    <p>推薦人先得知從產品 B 中抽出的球是：<img src="{{ static image_path2 }}" width="50px" /></p>
    <p>接著才得知推薦產品 A 可獲得額外15法幣。</p>
    <br>
    <p>請您根據上述情況，在下方選項中作出選擇。</p>

    <table class="table table-striped" style="border-spacing: 0;">
        <colgroup>
            <col width="16%">
            <col width="38%">
            <col width="10%">
            <col width="38%">
        </colgroup>
        <thead>
            <tr>
                <td></td>
                <td align="right"><b>預測</b></td>
                <td></td>
                <td align="left"><b>福袋</b></td>
            </tr>
        </thead>
        <tbody>

            <!-- ====== 手動寫每一行 (0~9) ====== -->
            
            <!-- 第0行 -->
            <tr>
                <td align="right">第<b>0</b>行:</td>
                <td align="right"><b>推薦人決定推薦產品B</b>的話獲得 50 元 7-11 禮卷</td>
                <td align="middle">
                    <input type="radio" name="0" value="left" data-amount="0" checked required>&nbsp;&nbsp;
                    <input type="radio" name="0" value="right" data-amount="0" disabled required>
                    <br>
                    <span id="additional-choice-0" style="display: none;">
                        <select name="0_additional_choice">
                            <option value="" selected disabled hidden></option>
                            {% for choice in range(0, 11) %}
                                <option value="{{ choice }}">{{ choice }}</option>
                            {% endfor %}
                        </select>
                    </span>
                </td>
                <td align="left"><b>0%</b> 機率獲得 50 元 7-11 禮卷</td>
            </tr>
            <tr><td colspan="4">
                <div id="messages-0" style="display: none;">
                    <p>您目前選擇第 0 行，表示您認為推薦人決定推薦產品B的機率介於 0% 到 10% 之間。</p>
                    <p>請用下拉式選單做更精確的決策。</p>
                </div>
            </td></tr>

            <!-- 第1行 -->
            <tr>
                <td align="right">第<b>1</b>行:</td>
                <td align="right"><b>推薦人決定推薦產品B</b>的話獲得 50 元 7-11 禮卷</td>
                <td align="middle">
                    <input type="radio" name="1" value="left" data-amount="1" required>&nbsp;&nbsp;
                    <input type="radio" name="1" value="right" data-amount="1" required>
                    <br>
                    <span id="additional-choice-1" style="display: none;">
                        <select name="1_additional_choice">
                            <option value="" selected disabled hidden></option>
                            {% for choice in range(11, 21) %}
                                <option value="{{ choice }}">{{ choice }}</option>
                            {% endfor %}
                        </select>
                    </span>
                </td>
                <td align="left"><b>10%</b> 機率獲得 50 元 7-11 禮卷</td>
            </tr>
            <tr><td colspan="4">
                <div id="messages-1" style="display: none;">
                    <p>您目前選擇第 1 行，表示您認為推薦人決定推薦產品B的機率介於 10% 到 20% 之間。</p>
                    <p>請用下拉式選單做更精確的決策。</p>
                </div>
            </td></tr>

            <!-- 第2行 -->
            <tr>
                <td align="right">第<b>2</b>行:</td>
                <td align="right"><b>推薦人決定推薦產品B</b>的話獲得 50 元 7-11 禮卷</td>
                <td align="middle">
                    <input type="radio" name="2" value="left" data-amount="2" required>&nbsp;&nbsp;
                    <input type="radio" name="2" value="right" data-amount="2" required>
                    <br>
                    <span id="additional-choice-2" style="display: none;">
                        <select name="2_additional_choice">
                            <option value="" selected disabled hidden></option>
                            {% for choice in range(21, 31) %}
                                <option value="{{ choice }}">{{ choice }}</option>
                            {% endfor %}
                        </select>
                    </span>
                </td>
                <td align="left"><b>20%</b> 機率獲得 50 元 7-11 禮卷</td>
            </tr>
            <tr><td colspan="4">
                <div id="messages-2" style="display: none;">
                    <p>您目前選擇第 2 行，表示您認為推薦人決定推薦產品B的機率介於 20% 到 30% 之間。</p>
                    <p>請用下拉式選單做更精確的決策。</p>
                </div>
            </td></tr>

            <!-- 第3行 -->
            <tr>
                <td align="right">第<b>3</b>行:</td>
                <td align="right"><b>推薦人決定推薦產品B</b>的話獲得 50 元 7-11 禮卷</td>
                <td align="middle">
                    <input type="radio" name="3" value="left" data-amount="3" required>&nbsp;&nbsp;
                    <input type="radio" name="3" value="right" data-amount="3" required>
                    <br>
                    <span id="additional-choice-3" style="display: none;">
                        <select name="3_additional_choice">
                            <option value="" selected disabled hidden></option>
                            {% for choice in range(31, 41) %}
                                <option value="{{ choice }}">{{ choice }}</option>
                            {% endfor %}
                        </select>
                    </span>
                </td>
                <td align="left"><b>30%</b> 機率獲得 50 元 7-11 禮卷</td>
            </tr>
            <tr><td colspan="4">
                <div id="messages-3" style="display: none;">
                    <p>您目前選擇第 3 行，表示您認為推薦人決定推薦產品B的機率介於 30% 到 40% 之間。</p>
                    <p>請用下拉式選單做更精確的決策。</p>
                </div>
            </td></tr>

            <!-- 第4行 -->
            <tr>
                <td align="right">第<b>4</b>行:</td>
                <td align="right"><b>推薦人決定推薦產品B</b>的話獲得 50 元 7-11 禮卷</td>
                <td align="middle">
                    <input type="radio" name="4" value="left" data-amount="4" required>&nbsp;&nbsp;
                    <input type="radio" name="4" value="right" data-amount="4" required>
                    <br>
                    <span id="additional-choice-4" style="display: none;">
                        <select name="4_additional_choice">
                            <option value="" selected disabled hidden></option>
                            {% for choice in range(41, 51) %}
                                <option value="{{ choice }}">{{ choice }}</option>
                            {% endfor %}
                        </select>
                    </span>
                </td>
                <td align="left"><b>40%</b> 機率獲得 50 元 7-11 禮卷</td>
            </tr>
            <tr><td colspan="4">
                <div id="messages-4" style="display: none;">
                    <p>您目前選擇第 4 行，表示您認為推薦人決定推薦產品B的機率介於 40% 到 50% 之間。</p>
                    <p>請用下拉式選單做更精確的決策。</p>
                </div>
            </td></tr>

            <!-- 第5行 -->
            <tr>
                <td align="right">第<b>5</b>行:</td>
                <td align="right"><b>推薦人決定推薦產品B</b>的話獲得 50 元 7-11 禮卷</td>
                <td align="middle">
                    <input type="radio" name="5" value="left" data-amount="5" required>&nbsp;&nbsp;
                    <input type="radio" name="5" value="right" data-amount="5" required>
                    <br>
                    <span id="additional-choice-5" style="display: none;">
                        <select name="5_additional_choice">
                            <option value="" selected disabled hidden></option>
                            {% for choice in range(51, 61) %}
                                <option value="{{ choice }}">{{ choice }}</option>
                            {% endfor %}
                        </select>
                    </span>
                </td>
                <td align="left"><b>50%</b> 機率獲得 50 元 7-11 禮卷</td>
            </tr>
            <tr><td colspan="4">
                <div id="messages-5" style="display: none;">
                    <p>您目前選擇第 5 行，表示您認為推薦人決定推薦產品B的機率介於 50% 到 60% 之間。</p>
                    <p>請用下拉式選單做更精確的決策。</p>
                </div>
            </td></tr>

            <!-- 第6行 -->
            <tr>
                <td align="right">第<b>6</b>行:</td>
                <td align="right"><b>推薦人決定推薦產品B</b>的話獲得 50 元 7-11 禮卷</td>
                <td align="middle">
                    <input type="radio" name="6" value="left" data-amount="6" required>&nbsp;&nbsp;
                    <input type="radio" name="6" value="right" data-amount="6" required>
                    <br>
                    <span id="additional-choice-6" style="display: none;">
                        <select name="6_additional_choice">
                            <option value="" selected disabled hidden></option>
                            {% for choice in range(61, 71) %}
                                <option value="{{ choice }}">{{ choice }}</option>
                            {% endfor %}
                        </select>
                    </span>
                </td>
                <td align="left"><b>60%</b> 機率獲得 50 元 7-11 禮卷</td>
            </tr>
            <tr><td colspan="4">
                <div id="messages-6" style="display: none;">
                    <p>您目前選擇第 6 行，表示您認為推薦人決定推薦產品B的機率介於 60% 到 70% 之間。</p>
                    <p>請用下拉式選單做更精確的決策。</p>
                </div>
            </td></tr>

            <!-- 第7行 -->
            <tr>
                <td align="right">第<b>7</b>行:</td>
                <td align="right"><b>推薦人決定推薦產品B</b>的話獲得 50 元 7-11 禮卷</td>
                <td align="middle">
                    <input type="radio" name="7" value="left" data-amount="7" required>&nbsp;&nbsp;
                    <input type="radio" name="7" value="right" data-amount="7" required>
                    <br>
                    <span id="additional-choice-7" style="display: none;">
                        <select name="7_additional_choice">
                            <option value="" selected disabled hidden></option>
                            {% for choice in range(71, 81) %}
                                <option value="{{ choice }}">{{ choice }}</option>
                            {% endfor %}
                        </select>
                    </span>
                </td>
                <td align="left"><b>70%</b> 機率獲得 50 元 7-11 禮卷</td>
            </tr>
            <tr><td colspan="4">
                <div id="messages-7" style="display: none;">
                    <p>您目前選擇第 7 行，表示您認為推薦人決定推薦產品B的機率介於 70% 到 80% 之間。</p>
                    <p>請用下拉式選單做更精確的決策。</p>
                </div>
            </td></tr>

            <!-- 第8行 -->
            <tr>
                <td align="right">第<b>8</b>行:</td>
                <td align="right"><b>推薦人決定推薦產品B</b>的話獲得 50 元 7-11 禮卷</td>
                <td align="middle">
                    <input type="radio" name="8" value="left" data-amount="8" required>&nbsp;&nbsp;
                    <input type="radio" name="8" value="right" data-amount="8" required>
                    <br>
                    <span id="additional-choice-8" style="display: none;">
                        <select name="8_additional_choice">
                            <option value="" selected disabled hidden></option>
                            {% for choice in range(81, 91) %}
                                <option value="{{ choice }}">{{ choice }}</option>
                            {% endfor %}
                        </select>
                    </span>
                </td>
                <td align="left"><b>80%</b> 機率獲得 50 元 7-11 禮卷</td>
            </tr>
            <tr><td colspan="4">
                <div id="messages-8" style="display: none;">
                    <p>您目前選擇第 8 行，表示您認為推薦人決定推薦產品B的機率介於 80% 到 90% 之間。</p>
                    <p>請用下拉式選單做更精確的決策。</p>
                </div>
            </td></tr>

            <!-- 第9行 -->
            <tr>
                <td align="right">第<b>9</b>行:</td>
                <td align="right"><b>推薦人決定推薦產品B</b>的話獲得 50 元 7-11 禮卷</td>
                <td align="middle">
                    <input type="radio" name="9" value="left" data-amount="9" required>&nbsp;&nbsp;
                    <input type="radio" name="9" value="right" data-amount="9" required>
                    <br>
                    <span id="additional-choice-9" style="display: none;">
                        <select name="9_additional_choice">
                            <option value="" selected disabled hidden></option>
                            {% for choice in range(91, 101) %}
                                <option value="{{ choice }}">{{ choice }}</option>
                            {% endfor %}
                        </select>
                    </span>
                </td>
                <td align="left"><b>90%</b> 機率獲得 50 元 7-11 禮卷</td>
            </tr>
            <tr><td colspan="4">
                <div id="messages-9" style="display: none;">
                    <p>您目前選擇第 9 行，表示您認為推薦人決定推薦產品B的機率介於 90% 到 100% 之間。</p>
                    <p>請用下拉式選單做更精確的決策。</p>
                </div>
            </td></tr>
            
            <!-- 最後第10行 (特別：disabled在left) -->
            <tr>
                <td align="right">第<b>10</b>行:</td>
                <td align="right"><b>推薦人決定推薦產品B</b>的話獲得 50 元 7-11 禮卷</td>
                <td align="middle">
                    <input type="radio" name="10" value="left" data-amount="10" disabled required>&nbsp;&nbsp;
                    <input type="radio" name="10" value="right" data-amount="10" checked required>
                    <br>
                    <span id="additional-choice-10" style="display: none;">
                        <select name="10_additional_choice">
                            <option value="" selected disabled hidden></option>
                            {% for choice in range(91, 101) %}
                                <option value="{{ choice }}">{{ choice }}</option>
                            {% endfor %}
                        </select>
                    </span>
                </td>
                <td align="left"><b>100%</b> 機率獲得 50 元 7-11 禮卷</td>
            </tr>
            <tr><td colspan="4">
                <div id="messages-10" style="display: none;">
                    <p>您目前選擇第 10 行，表示您認為推薦人決定推薦產品B的機率介於 90% 到 100% 之間。</p>
                    <p>請用下拉式選單做更精確的決策。</p>
                </div>
            </td></tr>

        </tbody>
    </table>

    <p style="margin-top: 10px;">如果希望更改選擇，請點選另外一行。</p>

    <button type="submit" class="btn btn-primary">下一頁</button>

</form>
{% endblock %}

{% block scripts %}
<script>
    document.addEventListener("DOMContentLoaded", function () {
        const allAdditionalChoiceSpans = document.querySelectorAll('span[id^="additional-choice-"]');
        const allMessages = document.querySelectorAll('div[id^="messages-"]');

        function getRadio(row, side) {
            // side: 'left' or 'right'
            return document.querySelector(`input[type=radio][name="${row}"][value="${side}"]`);
        }

        function hideAllExtra() {
            allAdditionalChoiceSpans.forEach(span => span.style.display = 'none');
            allMessages.forEach(msg => msg.style.display = 'none');
        }

        function showIntervalBySwitchPoint(switchPoint) {
            // switchPoint = 第一個選「福袋」(right) 的行數
            // 需要顯示的區間行 = switchPoint - 1（也就是落在 (switchPoint-1)*10 ~ switchPoint*10）
            const idx = switchPoint - 1;

            hideAllExtra();

            if (idx >= 0 && idx <= 9) {
                const span = document.getElementById(`additional-choice-${idx}`);
                const msg  = document.getElementById(`messages-${idx}`);
                if (span) span.style.display = 'inline-block';
                if (msg)  msg.style.display = 'block';
            }
        }

        function applySwitchPoint(switchPoint) {
            // 0..switchPoint-1 => left, switchPoint..10 => right
            for (let i = 0; i <= 10; i++) {
                const leftRadio = getRadio(i, 'left');
                const rightRadio = getRadio(i, 'right');

                if (i < switchPoint) {
                    if (leftRadio && !leftRadio.disabled) {
                        leftRadio.checked = true;
                    } else if (rightRadio && !rightRadio.disabled) {
                        rightRadio.checked = true;
                    }
                } else {
                    if (rightRadio && !rightRadio.disabled) {
                        rightRadio.checked = true;
                    } else if (leftRadio && !leftRadio.disabled) {
                        leftRadio.checked = true;
                    }
                }
            }
            showIntervalBySwitchPoint(switchPoint);
        }

        function onRadioClick(evt) {
            const clicked = evt.target;
            const k = parseInt(clicked.dataset.amount, 10);

            // 點 left：分界點在 k+1；點 right：分界點在 k
            const switchPoint = (clicked.value === 'left') ? (k + 1) : k;

            applySwitchPoint(switchPoint);
        }

        // 綁定所有 radio
        document.querySelectorAll('input[type=radio]').forEach(r => {
            r.addEventListener('change', onRadioClick);
        });

        // 進頁面：只固定端點，其他行全部清空
        function initOnlyEndpoints() {
            // 固定第0行：left 勾選（right 是 disabled）
            const r0L = getRadio(0, 'left');
            const r0R = getRadio(0, 'right');
            if (r0L) r0L.checked = true;
            if (r0R) r0R.checked = false;

            // 固定第10行：right 勾選（left 是 disabled）
            const r10L = getRadio(10, 'left');
            const r10R = getRadio(10, 'right');
            if (r10R) r10R.checked = true;
            if (r10L) r10L.checked = false;

            // 第1~9行：全部不勾
            for (let i = 1; i <= 9; i++) {
                const l = getRadio(i, 'left');
                const r = getRadio(i, 'right');
                if (l) l.checked = false;
                if (r) r.checked = false;
            }

            // 先不要顯示下拉與訊息
            hideAllExtra();
        }

        // 原本你可能有：applySwitchPoint(10);
        // 改成：
        initOnlyEndpoints();

    });
    
    document.addEventListener("DOMContentLoaded", function () {
    let form = document.getElementById('form');

    form.addEventListener('submit', function(event) {
        // 先暫停送出
        event.preventDefault();

        // 驗證欄位是否填好
        if (!form.checkValidity()) {
            alert('請完整回答再送出');
            return;
        }

        // 找目前選到right的那一行
        let radios = document.querySelectorAll('input[type=radio][value="right"]:checked');
        let smallestAmountCheckedRight = 0;
        if (radios.length > 0) {
            smallestAmountCheckedRight = parseInt(radios[0].dataset.amount) || 0;
        }

        let selectedDropdown;
        if (smallestAmountCheckedRight > 0) {
            selectedDropdown = document.querySelector(`#additional-choice-${smallestAmountCheckedRight - 1} select`);
        } else {
            selectedDropdown = document.querySelector(`#additional-choice-0 select`);
        }

        if (!selectedDropdown || !selectedDropdown.value) {
            alert('請使用下拉式選單作更精確的選擇');
            return;
        }

        let selectedValue = parseInt(selectedDropdown.value);
        document.getElementById('belief_hidden').value = selectedValue;

        // 都ok才正式送出表單
        form.submit();
    });
});
    </script>

{% endblock %}