{{ block title }} 第 {{ subsession.round_number }} 回合， 總共 {{ C.NUM_ROUNDS }} 回合 {{ endblock }}

{{ block content }}

<style>
  .otree-body.container,
  .container {
    max-width: 70vw !important;
  }
</style>

<h4>本回合結果</h4>
<table class="table table-sm">
  <thead>
    <tr>
      <th style="width: 50px;">回合</th>
      <th style="width: 120px;">產品 B 實際品質</th>
      <th style="width: 100px;">推薦人看到的<br>抽球結果資訊</th>
      <th style="width: 100px;">推薦人看到的<br>產品指派資訊</th>
      <th style="width: 90px;">推薦人決策</th>
      <th style="width: 90px;">客戶決策</th>
      <th style="width: 100px;">客戶抽球結果</th>

      {{ if is_advisor }}
        <th style="width: 120px;">{{ payoff_col_1_label }}</th>
        <th style="width: 90px;">翻牌成本</th>
        <th style="width: 120px;">{{ payoff_col_2_label }}</th>
      {{ else }}
        <th style="width: 120px;">{{ payoff_col_1_label }}</th>
        <th style="width: 120px;">{{ payoff_col_2_label }}</th>
        <th style="width: 90px;">對方翻牌<br>成本</th>
      {{ endif }}
    </tr>
  </thead>

  <tbody>
    <tr>
      <td>{{ this_round_record.round_number }}</td>
      <td><img src="{{ static this_round_record.quality_image }}" width="60px"></td>
      <td><img src="{{ static this_round_record.signal_image }}" width="40px"></td>
      <td>{{ this_round_record.commission_product }}</td>
      <td>產品{{ this_round_record.advisor_recommendation }}</td>
      <td>產品{{ this_round_record.client_selection }}</td>
      <td><img src="{{ static this_round_record.client_draw_image }}" width="40px"></td>

      {{ if is_advisor }}
        <td>{{ this_round_record.payoff_col_1 }}</td>
        <td>{{ this_round_record.flip_cost }}</td>
        <td>{{ this_round_record.payoff_col_2 }}</td>
      {{ else }}
        <td>{{ this_round_record.payoff_col_1 }}</td>
        <td>{{ this_round_record.payoff_col_2 }}</td>
        <td>不顯示</td>
      {{ endif }}
    </tr>
  </tbody>
</table>

<hr>
<br><br>

<h4>歷史回合</h4>
<table class="table table-sm">
  <thead>
    <tr>
      <th style="width: 50px;">回合</th>
      <th style="width: 120px;">產品 B 實際品質</th>
      <th style="width: 100px;">推薦人看到的<br>抽球結果資訊</th>
      <th style="width: 100px;">推薦人看到的<br>產品指派資訊</th>
      <th style="width: 90px;">推薦人決策</th>
      <th style="width: 90px;">客戶決策</th>
      <th style="width: 100px;">客戶抽球結果</th>

      {{ if is_advisor }}
        <th style="width: 120px;">{{ payoff_col_1_label }}</th>
        <th style="width: 90px;">翻牌成本</th>
        <th style="width: 120px;">{{ payoff_col_2_label }}</th>
      {{ else }}
        <th style="width: 120px;">{{ payoff_col_1_label }}</th>
        <th style="width: 120px;">{{ payoff_col_2_label }}</th>
        <th style="width: 90px;">對方翻牌<br>成本</th>
      {{ endif }}
    </tr>
  </thead>

  <tbody>
    {{ for record in history_records }}
      <tr>
        <td>{{ record.round_number }}</td>
        <td><img src="{{ static record.quality_image }}" width="60px"></td>
        <td><img src="{{ static record.signal_image }}" width="40px"></td>
        <td>{{ record.commission_product }}</td>
        <td>產品{{ record.advisor_recommendation }}</td>
        <td>產品{{ record.client_selection }}</td>
        <td><img src="{{ static record.client_draw_image }}" width="40px"></td>

        {{ if is_advisor }}
          <td>{{ record.payoff_col_1 }}</td>
          <td>{{ record.flip_cost }}</td>
          <td>{{ record.payoff_col_2 }}</td>
        {{ else }}
          <td>{{ record.payoff_col_1 }}</td>
          <td>{{ record.payoff_col_2 }}</td>
          <td>不顯示</td>
        {{ endif }}
      </tr>
    {{ endfor }}
  </tbody>
</table>

<button class="otree-btn-next btn btn-primary">下一頁</button>

{{ endblock }}